<header>
    <nav>
        <p>
            <h1>
                the <br> Simpsons
            </h1>
        </p>
        <a href="/">hHome</a>
        <a href="/favorite-quotes">Favourite qoutes</a>
        <link rel="preconnect" href="https://fonts.gstatic.com">
    </nav>
</header>